@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600;800&display=swap");

.heroword_main_wrap {
  margin-top: 1rem;

  h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 500;
  }
}

.container {
  position: relative;
  width: 100%;
  height: 320px;
  background-color: #fff0e4;
  overflow: hidden;

  perspective: 1000px;
  perspective-origin: 50% 50%;
}

.word {
  position: absolute;
  white-space: nowrap;
  font-family: "Fredoka", sans-serif;
  will-change: transform, opacity, filter;

  animation-name: float3D;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes float3D {
  0% {
    transform: translate3d(var(--x), 110vh, var(--z));
    opacity: 0;
  }

  10% {
    opacity: var(--opacity);
  }

  

  90% {
    opacity: var(--opacity);
  }

  100% {
    transform: translate3d(var(--x), -20vh, var(--z));
    opacity: 0;
  }
}

@media screen and (max-width: 760px) {
  .heroword_main_wrap h1 {
    font-size: 1.3rem;
  }
}
